body {
    background-image: url('../images/forest_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
h1 {
    font-size: 48px;
    font-family: 'Ubuntu';
    font-weight: 300;
}

h2 {
    font-size: 40px;
    font-family: 'Ubuntu';
    font-weight: 300;
}

h3 {
    font-size: 24px;
    font-family: 'Ubuntu';
    font-weight: 300;
    margin-bottom: 42px;
    color: #00897B;
}

p, ol {
    color: grey;
    font-size: 18px
}

ul {
    color: grey;
    font-size: 24px;
    list-style-type: square;
}

a {
    text-decoration: none;
}

canvas {
    display: block;
    vertical-align: bottom;
}

b {
    color: #212121;
}

.content{
    font-family: 'Raleway';
    color: grey;
    font-size: 20px;
}


.margin {
    margin-left: 20%;
    margin-right: 20%;
}

/* ---- particles.js  ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: #212121;
    background-image: url("");*/
    background: -webkit-linear-gradient(black, #FAFAFA); /* For Safari 5.1 to 6.0 */
	background: linear-gradient(black, #FAFAFA); /* Standard syntax ------ Gradients: #D586B4, #F1A07B,  OR  #A88BCE, #6AAFCA,*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center
}

/*Bouncing arrow*/

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
    color: #616161;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    content: "\f078";
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}

progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;

    /* Dimensions */
    width: 100%;
    height: .4em;

    /* Reset the apperance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* For Firefox/IE10+ */
    background-color: transparent;

    /* For IE10+, color of the progress bar */
    color: red;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.flat::-webkit-progress-value {
    background-color: red;
}

.flat::-moz-progress-bar {
    background-color: red;
}

.single::-webkit-progress-value {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, red);
}

.single::-moz-progress-bar {
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent, red);
}

.multiple::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(left, green, red);
}

.multiple::-moz-progress-bar {
    background-image: -moz-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -moz-linear-gradient(left, green, red);
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
}

.progress-bar {
    background-color: red;
    width: 50%;
    display: block;
    height: inherit;
}

.item {
    width: 100%;
    height: 550px;
    margin-top: 5vw;
    font-size: 3em;
    font-family: 'Lato', sans-serif;
    background: #EEEEEE;
    box-shadow: 0 10px 10px rgba(0,0,0,0.4);
    border-radius: 3px;
}


.back{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#wrapper{
    position: relative;
    width: 100%;
}

#title {
    height: 50vw;
    width: 100%;
    color: #212121;
    font-family: 'Raleway';
    font-size: 75px;
    padding-top: 100px;
    font-weight: 900;
}

.section {
    height: 42vw;
    width: 100vw;
    margin-top: -6%;
}

.section:nth-child(odd) {
    background: #00897B;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.section:nth-child(even) {
    background: #616161;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.section:nth-child(4n-1) {
    background: none;
}

.section:nth-child(1) {
    background: #d9a7c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fff, #80CBC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fff, #80CBC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 60vw;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.section:last-child {
    height: 30vw;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

#game-svg {
    position: relative;
    border-radius: 3px;
}

#section11 {
    margin: 50px;
}

.padding {
    margin: 50px;
}

#section12 {
    text-align: right;
}

.section2 {
    margin: 50px;
    padding-top: 50px;
}

.split {
    position: relative;
}

#icongrid {
    display: inline-block;
}

.section41 {
    margin: 50px;
 }

.section42 {
    font-size: 40px;
    margin: 50px;
}

.section-scatter {
    padding: 30px 50px 0;
}

i.tree-filled {
    color: green;
}

i.tree-blank {
    color: green;
    opacity: 0.3;
}

.animation {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}
#tile-floor { fill: rgb( 125, 180, 89 ); }
#tile-right { fill: rgb( 85, 111, 67 ); }
#tile-left { fill: rgb( 63, 82, 50 ); }
#drive { fill: rgb( 102, 168, 62 ); }
#tree-earth-left { fill: rgb( 79, 69, 48 ); }
#tree-earth-right { fill: rgb( 54, 47, 32 ); }
#tree-trunk-left { fill: rgb( 138, 116, 71 ); }
#tree-trunk-right { fill: rgb( 79, 65, 36 ); }
#tree-leaves-left { fill: rgb( 52, 78 ,36 ); }
#tree-leaves-right { fill: rgb( 82, 122 ,55 ); }
#tree-leaves-top { fill: rgb( 100, 156 ,62 ); }
#building-earth-left { fill: rgb( 85, 130, 56 ); }
#building-earth-right { fill: rgb( 57, 84, 39 ); }
#building-tower-left { fill: rgb( 168, 173, 168 ); }
#building-tower-right { fill: rgb( 115, 124, 114 ); }
#building-tower-top { fill: rgb( 209, 215, 209 ); }
#building-roof-left { fill: rgb( 115, 124, 114 ); }
#building-roof-right { fill: rgb( 168, 173, 168 ); }
#building-door-frame-bottom { fill: rgb( 209, 215, 209 ); }
#building-door-frame-right { fill: rgb( 168, 173, 168 ); }
#building-door-block { fill: rgb( 70, 75, 70 ); }
#building-door-trim { fill: rgb( 38, 39, 38 ); }
html:not(.one) #building-door-block,
html:not(.one) #building-door-trim,
html:not(.two) #building-roof-left,
html:not(.two) #building-roof-right,
html:not(.two) #building-door-frame-bottom,
html:not(.two) #building-door-frame-right {
    fill: none;
}

.bottom-icon {
    border-radius: 50%;
    text-align: center;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 50px;
}

.bottom-icon i {
    font-size: 60px;
    margin-top: 20px;
}

.bottom-icon.second {
    background-color: #009688;
    color: #99D5CF;
}

.bottom-icon.third {
    background-color: #00BCD4;
    color: #CCF2F6;
}

.bottom-icon.first {
    background-color: #388E3C;
    color: #AFD2B1;
}

/*YOU DRAW IT*/
.name {
    font-size: 11px;
    text-anchor: end;
}

.height {
    color: red;
    font-size: 11px;
    text-anchor: end;
}

#selection-name {
    font-size: 24px;
}

th {
    padding: 5px 50px 5px 0px;
}

tr:nth-child(even) {
    background-color: #FFFFAA;
}

tr, th {
    border: solid;
    border-width: 1px 0;
}


.done-button-container {
    cursor: pointer;
    position: absolute;
    top: 90px;
    right: 80px;
    font-size: 24px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 0 10px 0;
    color: #00897B;
    transition: background-color .2s;
}

.done-button-container:hover {
    background-color: #00897B;
    color: white;
    border-color: #00897B;
}


.area {
    fill: red;
}

.youdrawit-title {
    font-size: 24px;
    text-anchor: middle;
    font-family: 'Oxygen';
}

.txt {
    font-weight: bold;
    font-size: 18px;
}

.txtDate {
    font-size: 10px;
}

.bars {
    fill: yellow;
}

#correct {
    fill-opacity: 0;
    stroke-width: 2;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 3s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

.areaPos {
    fill: #00897B;
}

.areaNeg {
    fill: #F4511E;
}

.title {
    font-size: 24px;
    text-anchor: middle;
}

#trees {
    margin-top: 32px;
}

.txtRate {
    font-size: 10px;
}

.section-area {
    width: 100%;
    margin: 0 auto;
}

.section-area-header {
    margin-bottom: -40px;
}

/* YOUR CSS STYLES */
.mytooltip {
    background-color: white;
    border: solid 1px black;
    padding: 5px 5px 5px 5px;
    font-size: 24px;
    text-align: center
    color: black;
}

.SA, .LA, .EUR, .EA, .ME, .SSA, .NA {
    width: 20px;
    height: 20px;
    border: solid 2px white;
}

.SA {
    background-color: #ff7f0e
}

.LA {
    background-color: #8c564b
}

.EUR {
    background-color: #d62728
}

.EA {
    background-color: #e377c2
}

.ME {
    background-color: #9467bd
}

.SSA {
    background-color: #2ca02c
}

.NA {
    background-color: #7f7f7f
}


table {
    font-size: 10px;
    margin-left: -70px;
}



.area {
    opacity: 0.5;
    clip-path: url(#clip);
}
.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.game {
    height: 500px;
}